{% set enabled = enabled ?? config.get('theme.langswitcher.enable', false) %}
{% set display = display ?? config.get('theme.langswitcher.display', 'dropdown') %}
{% set format = format ?? config.get('theme.langswitcher.format', 'combined') %}

{% macro lang_name(language) %}
	{{ 'LANGUAGE.NAME'|tl([language]) }}
{% endmacro %}

{% macro lang_icon(language) %}
	{{ 'LANGUAGE.ICON'|tl([language]) }}
{% endmacro %}

{% macro lang_switcher(page, display, format) %}
	{% import _self as macros %}

	{% if display=='dropdown' %}
		<li><a href="#">{{ 'LANGUAGE.LANGUAGE'|tl }}</a><ul>
	{% endif %}

	{% for language in grav.language.languages %}
		{% set page_url = base_url ~ "/" ~ language ~ page.route|e %}
		{% set active_page = (page.language == language) ? 'active' : '' %}

		<li>
			<a href="{{ page_url ~ uri.params ~ (uri.query|length > 1 ? '?' ~ uri.query) }}" class="{{ active_page }}">
				{% if format == 'long' %}
					{{ macros.lang_name(language) }}
				{% elseif format == 'short' %}
					{{ language|upper }}
				{% elseif format == 'icon' %}
					{{ macros.lang_icon(language) }}
				{% elseif format == 'combined' %}
					{{ macros.lang_icon(language) }} {{ macros.lang_name(language) }}
				{% endif %}
			</a>
		</li>
	{% endfor %}

	{% if display=='dropdown' %}
		</ul></li>
	{% endif %}
{% endmacro %}

{% if enabled and not mobile %}
	<ul>
		{% import _self as macros %}
		{{ macros.lang_switcher(page, display, format) }}
	</ul>
{% endif %}

{% if enabled and mobile %}
	<ul {{ tree ? 'class="tree"' : '' }}>
		{% import _self as macros %}
		{{ macros.lang_switcher(page, 'mobile', format) }}
	</ul>
{% endif %}
