{% extends 'layouts/modular.html.twig' %}
{% set template_name = 'modular-sbs sbs' %}

{% block modular_content %}
	{{ content|raw }}
	<div class="sbs-list">
		{% for element in page.header.sbs %}
			<div class="sbs layout-{{ element.layout }}">
				<div class="sbs-image">
					<img src="{{ element.image }}" alt="{{ element.title }}">
				</div>

				<div class="sbs-content {{ element.alignment ?? '' }}">
					<h4>{{ element.title }}</h4>
					<p>{{ element.text }}</p>
					<a href="{{ element.page }}" class="btn">{{ element.link_text }}</a>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock modular_content %}
